<br><p class="title">DRAFT-BILLS</p>



<ion-content>
    
<ion-grid>
  <ion-col>
    
  <ion-row class="orders" routerLink="/staff-billing">
    <div class="bill"> <b>BILL NO : 03</b></div>
    <div class="time">03:44 pm</div>
    </ion-row>

    <ion-row class="orders" routerLink="/staff-billing">
      <div class="bill"> <b>BILL NO : 03</b></div>
      <div class="time">03:44 pm</div>
      </ion-row>

      <ion-row class="orders" routerLink="/staff-billing">
        <div class="bill"> <b>BILL NO : 03</b></div>
        <div class="time">03:44 pm</div>
        </ion-row>

    


  </ion-col>
</ion-grid>
</ion-content>


  
