<div class="container">
  <h4 class="title">BILL-DETAILS</h4>
  
  <img src="/assets/TastyDots-logo.jpg">
  
  
  <ion-list class="list">
  <ion-item class="item">
    <ion-input class="input" type="tel" placeholder="MOBILE NO"></ion-input>
  </ion-item>
  
  <ion-item class="item">
    <ion-input class="input" type="number" placeholder="TABLE NO"></ion-input>
  </ion-item>
  
  <ion-item class="item">
    <ion-input class="input" type="number" placeholder="DISCOUNT"></ion-input>
  </ion-item>
  </ion-list>
  
  
  <div class="pay-method">
    <ion-chip class="payment" tabindex="1" color="dark">Cash</ion-chip>
    <ion-chip class="payment" tabindex="1" color="dark">Card</ion-chip>
    <ion-chip class="payment" tabindex="1" color="dark">UPI</ion-chip>
  </div>
  
  <br>
  <div class="button">
    <ion-button  shape="round"color="warning" routerLink="/admin-billing">ok</ion-button>
  </div>
  
  </div>
