<section class="OTP-Verification d-flex align-items-center justify-content-center">
  <div class="row justify-content-center">
        <div class="get-number ">
            <div class="OTP-content text-center">
                  <div class="OTP-logo pt-4">
                    <mat-icon>lock</mat-icon>
                  </div>
                  <h1>OTP Verification</h1>
                  <p>Verify your account details</p>
                  <h6>We'll send a One Time Password to your mobile</h6>
            </div>
            <div class="input-edit mb-3 "> 
            <div class="OTP-input-box form-floating mb-3 "> 
                          
               <input type="number" class="form-control " id="OTP" placeholder="">
               <label for="OTP">Enter your mobile number</label>                
              </div>  
               <div class="get-button">
                <button type="button" class="btn btn-success" (click)="otpSend()">GET CODE</button>
               </div>
            </div>
          </div> 
   </div>
</section>

