<section class="Add-category d-flex justify-content-center align-items-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center align-items-center  ">
        <div class="Add-category-content p-5 mt-5 ">
          <h5 class="head-name">Employee</h5>
          <div class="upload-image d-flex justify-content-center align-items-center mt-3 ">
            <figure class="col-lg-7 col-7 col-md-7 ">
              <div class="Add-category-img">
                <img src="../../assets/images/logo.jpg" alt="">
                <input type="file" id="uploadButton" accept="image/*">
              </div>
              <figcaption id="file-name"></figcaption>
            </figure>
          </div>
          <div class="C-name mt-3">
            <input type="text" placeholder="Employee Name">
          </div>
          <div class="C-name mt-3">
            <input type="number" placeholder="Phone Number">
          </div>
          <div class="C-name mt-3">
            <input type="text" placeholder="Password">
          </div>
          <div class="C-name mt-3">
            <input type="text" placeholder="Confirm Password">
          </div>
          <div class=" Submit d-flex justify-content-center align-items-center mt-5">
            <button class=" s-button " (click)="return()">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>