<div class ="topContainer">
  <div class="bill">
  <img src="/assets/TastyDots-logo.jpg">
      <div class="brand">
        <b>TASTY DOTS</b>
      </div>
      <div class="address">
        Address-<br> Phone No- 0192083910<br>
      RETAIL INVOICE </div>
      <br>
      <div class="bill-details">
        <div class="flex justify-between">
          <div>BILL NO: 091</div>
          <div><b>TABLE NO: 02</b></div>
        </div>
         <div class="flex justify-between">
          <div>TIME: 14:10</div>
          <div>DATE: 19/07/2023</div>
        </div>
      </div>
      <br>
      <table class="table">
        <tr class="header">
        <th>
          Item Name
        </th> <th>
          Qty
        </th> <th>
          Unit cost
        </th>
           <th>
          Amount
        </th>
        </tr>
        <tr>
          <td>Burger</td>
          <td>2</td>
          <td>85</td>
          <td>170</td>
        </tr>
        <tr>
          <td>Pizza</td>
          <td>1</td>
          <td>99</td>
          <td>99</td>
        </tr>
        <tr>
          <td>Momos</td>
          <td>1</td>
          <td>80</td>
          <td>80</td>
        </tr>
        <tr>
          <td>Pasta</td>
          <td>1</td>
          <td>199</td>
          <td>199</td>
        </tr>
        <tr class="total">
          <td></td>
          <td>Total</td>
          <td></td>
          <td>350</td>
        </tr>
          
      
      </table>
    
      <br>
      Mode of Order:<br>
      <br>
    
      <div class="button">
        <ion-row>
      <ion-col>
      <ion-button size="small">Draft</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small">Print</ion-button>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-button size="small" routerLink="/admin-kot">KOT</ion-button>
      </ion-col>
      <ion-col>
      <ion-button size="small">Cancel</ion-button>
      </ion-col>
    </ion-row>
    </div>
    Thank You ! Please visit again
    </div>
    </div>
  
  