<ion-content overflow-scroll="false">
  <section class="Add-category d-flex justify-content-center align-items-center ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="d-flex justify-content-center align-items-center  ">
          <div class="Add-category-content p-5 mt-5 text-center ">
            <h5 class="head-name">Sub-Category</h5>
            <!-- <form (ngSubmit)="onsubmit()" id="categoryform" name="caetegory" #caetegory="ngForm"> -->
            <div class="upload-image d-flex justify-content-center align-items-center mt-3 ">
              <figure class="col-lg-7 col-7 col-md-7 ">
                <div class="Add-category-img">
                  <input required type="file" (change)="onSelectFile($event)" accept="image/*">
                  <img [src]="url ? url : ''"
                      name="image"
                       id="image" >
                </div>
                <figcaption id="file-name"></figcaption>
              </figure>
            </div>
            <div class="C-name mt-3 mb-3">
              <input type="text" [(ngModel)]="subCategoryModel.category_name" disabled>

            </div>
            <div class="C-name my-3">
              <input type="text" placeholder="Sub-Category Name" [(ngModel)]="subCategoryModel.sub_category_name">
            </div>
            <div class="types d-flex-wrap mb-3">
              <ion-chip class="type" *ngFor="let chip of chips" [ngClass]="{'active': selectedChip === chip.value}" (click)="setActiveChip(chip.value)">{{ chip.name }}</ion-chip>


            </div>

            <div class="C-name c-price mt-3">
              <input type="text" placeholder="Price" [(ngModel)]="subCategoryModel.price">
            </div>
            <div class=" status d-flex justify-content-center align-items-center mt-4">
              <ion-chip [ngClass]="{'Enable': isEnableActive}" (click)="changeEnableClass()" class="Enable">Enable</ion-chip>
              <ion-chip [ngClass]="{'Disable': isDisableActive}" (click)="changeDisableClass()" class="Disable">Disable</ion-chip>
            </div>
            <div class=" Submit d-flex justify-content-center align-items-center mt-5">
              <button class=" s-button " (click)="return()"><mat-icon
                  class="Submit-icon">done_all</mat-icon>Submit</button>
            </div>
          <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>
