<!-- <ion-content overflow-scroll="false"> -->
  <header class="d-flex align-items-center justify-content-start ">

    <div (click)="backorderpage()"><span class="material-symbols-outlined mx-3">
        reply_all
      </span></div>
    <div class="w-100 text-center">
      <h3 class="mt-2">
        Transaction
      </h3>
    </div>
   
  </header>
  
  <section>
    <div class="container">
      <div class="row">
        <div class="box mt-4 col-12 d-flex justify-content-between align-items-center">
  
          <div class="income text-center">        
            <p>Total Income</p>
            <div class="Total-Amount ">
              <p><span class="material-symbols-outlined rupes-icon">
                  currency_rupee
                </span> 2000</p>
            </div>
          </div>
  
          <div class="line"> |</div>
  
          <div class="expence text-center">        
            <p>Total Expence</p>
            <div class="Total-Amount ">
              <p><span class="material-symbols-outlined rupes-icon">
                  currency_rupee
                </span> 2000</p>
            </div>
          </div>
  
        </div>
        <div class="col-6 text-center mt-1"><span class="material-symbols-outlined">
          stat_minus_3
          </span></div>
          <div class="col-6 text-center mt-1"><span class="material-symbols-outlined">
            stat_minus_3
            </span></div>
  
          <div class="income-list col-6 mt-1">
  
            <div class="cash mt-3 d-flex align-items-center justify-content-between">
              <div class="method-name"><p>Cash</p></div>
              <div>:</div>
              <div class="Total-Amount ">
                <p><span class="material-symbols-outlined rupes-icon">
                    currency_rupee
                  </span> 2000</p>
              </div>
            </div>
  
            <div class="cad mt-3 d-flex align-items-center justify-content-between">
              <div class="method-name"><p>Card</p></div>
              <div>:</div>
              <div class="Total-Amount ">
                <p><span class="material-symbols-outlined rupes-icon">
                    currency_rupee
                  </span> 2000</p>
              </div>
            </div>
          
            <div class="upi mt-3 d-flex align-items-center justify-content-between">
              <div class="method-name"><p>UPI</p></div>
              <div>:</div>
              <div class="Total-Amount ">
                <p><span class="material-symbols-outlined rupes-icon">
                    currency_rupee
                  </span> 2000</p>
              </div>
            </div>
  
          </div>
  
          <div class="expence-list col-6 mt-1">
  
            <div class="cash mt-3 d-flex align-items-center justify-content-between">
              <div class="method-name"><p>Cash</p></div>
              <div>:</div>
              <div class="Total-Amount ">
                <p><span class="material-symbols-outlined rupes-icon">
                    currency_rupee
                  </span> 2000</p>
              </div>
            </div>
  
            <div class="cad mt-3 d-flex align-items-center justify-content-between">
              <div class="method-name"><p>Card</p></div>
              <div>:</div>
              <div class="Total-Amount ">
                <p><span class="material-symbols-outlined rupes-icon">
                    currency_rupee
                  </span> 2000</p>
              </div>
            </div>
          
            <div class="upi mt-3 d-flex align-items-center justify-content-between">
              <div class="method-name"><p>UPI</p></div>
              <div>:</div>
              <div class="Total-Amount ">
                <p><span class="material-symbols-outlined rupes-icon">
                    currency_rupee
                  </span> 2000</p>
              </div>
            </div>
  
          </div>
  
       
      </div>
    </div>
  </section>